<a routerLink="/add-item">Pridėti prekę</a><br>

<a routerLink="/cart">Krepšelis: {{cartService.cart.length}}</a><br>
Išpardavimas baigsis: {{saleEndDate | date : "YYYY-MM-dd"}}

<ng-container *ngFor="let item of itemService.items">
  <app-item
    [item]="item"
    (onItemAdded)="addToCart(item.id)"
    (onItemRemoved)="removeFromCart(item.id)"
  ></app-item>
</ng-container>

<br>

<button (click)="accessService.logout()">Logout</button> <br>

<app-cart></app-cart>

<br>
<button (click)="itemService.getChuckNorrisJoke()">Gauti juokelį</button>

<br>
<button (click)="itemService.getItems()">Gauti prekes</button>
